<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OutlookClass" value="rctrl_renwnd32" />
		<add key="NormalButtonSize" value="48,48" />
		<add key="MaximzedButtonSize" value="48,56" />
		<add key="ButtonOffset" value="8,1" />
		<add key="AutoRun" value="1" />
	</appSettings>
</configuration>